.image {
  display: block;
  margin: 0 auto;
}
.image[wobble='1'] {
  animation: wobble 1s 1;
}

@keyframes wobble {
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}


/* .shaking {
	animation: shake 0.6s ease-out;
}
@keyframes shake {
	from, to {transform:translateY(0);}
	12.5% {transform:translateY(-4%);}
	25% {transform:translateY(4%);}
	50% {transform:translateY(-1%);}
} */