
/* Main Shaker Page Sytling 
////////////////////////////////////////////////////////////////////////////////////////////////
*/
.shake {
  display: block;
  margin: 0 auto;
}
.shake[wobble='1'] {
  animation: wobble 1s 1;
}

@keyframes wobble {
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
#jar-text{
  font-family: 'Architects Daughter', cursive;
  font-size: 17px;
  cursor: pointer
}

.cls-1{
  fill: #fff
}


.wad-wobble{
  display: block;
  margin: 0 auto;
}
.wad-wobble[wad="1"]{
animation: wad 1s infinite
}

@keyframes wad {
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.pick-again[wobble='1']{
  animation: wobble 1s 1;
}

.pick-again {
  cursor: pointer;
  
}


/* .modal{
  transition-delay: .5s
} */


/* .shaking {
	animation: shake 0.6s ease-out;
}
@keyframes shake {
	from, to {transform:translateY(0);}
	12.5% {transform:translateY(-4%);}
	25% {transform:translateY(4%);}
	50% {transform:translateY(-1%);}
} */


/* styling for contact page 
////////////////////////////////////////////////////////////////////////////////////////////////////
*/
  
.contact-container {
  min-height: 692px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 0;
  overflow: hidden;
  background: linear-gradient(
    108deg,
    rgb(163, 133, 155) 0%,
    rgb(241, 211, 211) 100%
  );
}


.signup{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.suggestion-row{
  height: 100%;
  display: flex;
  /* flex-direction: column; */
  justify-content: right;
}

.form-container-backdrop{
  background: #fbf7f5;
  padding: 24px 24px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  height: 80%;
  margin-bottom: 50px;
}
.form-container-backdrop:hover{
  transform: scale(1.02);
  transition: all 0.2s ease-in-out;
  cursor: pointer;

}

.h1-contact{
  font-size: 20px;
  color:#2f0909;
  margin-top: 10px;
  text-align: center;
}

.p-contact {
  font-size: 16px;
  color:#2f0909;
  margin-top: 10px;
  text-align: center;
}

.button-contact-form{
  color: white;
  background: #2f0909;
}


/* Styling for landing/home page
/////////////////////////////////////////////////////////////////////////////////////////////////////
*/

h1 {
  font-family: 'Cookie', cursive;
  color: rgb(241, 240, 240);
  font-size: 100px;
  margin: 20px;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-size: 40px;
  font-weight:bold;
  color: rgba(163, 133, 155, 0.685);
}

.enterText {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  font-weight: 50;
}

.infinityText {
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  font-style: italic;
}

/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  padding-right:20px;
  padding-left: 20px;
  padding-bottom: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background: linear-gradient(
    108deg,
    rgb(163, 133, 155) 0%,
    rgb(241, 211, 211) 100%
  );
}

/* Control the right side */
.right {
  right: 0;
  background-color: rgb(241, 240, 240);
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered-img {
  width: 150px;
  border-radius: 50%;  
}

/* React Tabs Comp Styling */
.react-tabs {
  -webkit-tap-highlight-color: transparent;
}
.react-tabs__tab-list {
  border-bottom: 1px solid #aaa;
  margin: 0 0 10px;
  padding: 0;
}
.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
}
.react-tabs__tab--selected {
  background: #fff;
  border-color: #aaa;
  color: black;
  border-radius: 5px 5px 0 0;
}
.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}
.react-tabs__tab:focus {
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none;
}
.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}
.react-tabs__tab-panel {
  display: none;
}
.react-tabs__tab-panel--selected {
  display: block;
}
.themeTable{
  width: 50%
}

.tabsRoot{
  width: 50%;
  margin: 0 auto;
}

.input-container{
  margin: 0 auto;
}


/* Log in / Log Out Buttons */
.enterBtn{
  margin: 0 10px
}

/* Modal Styling 
////////////////////////////////////////////////////////////////////////////////////////////////////
*/

div.modal-content {
  background-color: rgb(241, 240, 240);
}
.modal-title.h4 {
  color: #00000080;
  font-family: 'Cookie', cursive;
  text-shadow: 2px 2px 8px rgba(224, 152, 205, 0.89);
  font-size: 60px;
}

 img.modal-img {
  height: 150px;
  display: block;
  margin: 0 auto;

 } 

.img-card {
 border: groove rgba(163, 133, 155, 0.89) 20px; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 120px;
  padding-right: 120px;
}  

.modal-activity.modal-body {
  text-align: center;
  font-family: 'Lato', sans-serif;
  color:#00000080;
  font-size: 35px;
  font-style: italic;
}


/* NavBar Styling 
///////////////////////////////////////////////////////////////////////////////////////////////////
*/

.mainNav {
  font-family: 'Cookie', cursive;
  color: rgb(241, 240, 240);
  font-size: 50px;
 
  padding-right:10px;
}

.nav-link {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  padding-right: 20px; 
}

.imgNav {
  width:6%;
  height:auto;
  padding: 20px;
  
}





