/* Navbar styling*/
/* .navStyle{
  margin-top: 10px;
  height: 30px;
  font-family: 'Architects Daughter', cursive;} */

/* Main Shaker Page Sytling */

/* Ham menu on right side */
@media only screen and (max-width: 600px) {
  .navbar-toggler {
    margin-right: 40%;
    margin-top: 10px
    /* float: left; */
    /* margin-left: -300px;
    margin-top: -30px; */
  }
}

@media only screen and (max-width: 600px) {
  .imgNav {
    /* width: 80px; */
    height: 90px;
  }
}
@media only screen and (max-width: 600px) {
  .customizeShaker {
   align-content: center;
   margin-right: 20px;
   width: 80%;

}
}
@media only screen and (max-width: 600px) {
  .contactShaker {
    align-content: center;
    width: 80%;
  }
}


p {
  font-family: "Montserrat", sans-serif;
}
li {
  font-family: "Montserrat", sans-serif;
}
.carousel {
  margin-top: -40px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.carousel .carousel-indicators li {
  width: 10px;
  height: 10px;
  margin: 8px;
  border-radius: 100%;
}

.logo-style {
  fill: #fff;
}

.carousel-item {
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px
}



.cls-1-label {
  fill: #fff;
}
.cls-2-label {
  stroke: #000;
  stroke-miterlimit: 10;
}

.cls-1-wad1 {
  opacity: 0.9;
}
.cls-2-wad1 {
  fill: #fed20d;
}
.cls-3-wad1 {
  fill: #f5f2a2;
}

.cls-1-wad2 {
  opacity: 0.9;
}
.cls-2-wad2 {
  fill: #007f76;
}
.cls-3-wad2 {
  fill: #87cfc0;
}

.cls-1-wad3 {
  opacity: 0.9;
}
.cls-2-wad3 {
  fill: #422f90;
}
.cls-3-wad3 {
  fill: #8f90c7;
}

.cls-1-wad4 {
  opacity: 0.9;
}
.cls-2-wad4 {
  fill: #e44699;
}
.cls-3-wad4 {
  fill: #eba8cb;
}

.cls-1-wad5 {
  opacity: 0.9;
}
.cls-2-wad5 {
  fill: #05689d;
}
.cls-3-wad5 {
  fill: #52c9ed;
}

.cls-1-wad6 {
  opacity: 0.9;
}
.cls-2-wad6 {
  fill: #e18f1d;
}
.cls-3-wad6 {
  fill: #fa7d10;
}
.cls-4-wad6 {
  fill: rgb(223, 101, 8);
}

.shake {
  display: block;
  margin: 0 auto;
}
.shake[shake="1"] {
  animation-name: shake;
  animation-duration: 1s;
  animation-iteration-count: 2;
}
@keyframes shake {
  0% {
    transform: translate(1px, 5px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -5px) rotate(-20deg);
  }
  20% {
    transform: translate(-3px, 5px) rotate(20deg);
  }
  30% {
    transform: translate(3px, 5px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -5px) rotate(20deg);
  }
  50% {
    transform: translate(-1px, 5px) rotate(-20deg);
  }
  60% {
    transform: translate(-3px, 5px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 5px) rotate(-20deg);
  }
  80% {
    transform: translate(-1px, -5px) rotate(20deg);
  }
  90% {
    transform: translate(1px, 5px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -5px) rotate(-20deg);
  }
}

#jar-text {
  text-shadow: 0 0 2px white, 0 0 5px grey;
  font-family: "Architects Daughter", cursive;
  font-size: 23px;
  cursor: pointer;
  word-spacing: -3px;
}

.cls-1 {
  fill: #fff;
}

.enter-page-wobble[wobble="1"] {
  animation-name: wobble;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@keyframes wobble {
  0% {
    transform: translateX(0%);
  }
  15% {
    transform: translateX(-25%) rotate(-10deg);
  }
  30% {
    transform: translateX(20%) rotate(8deg);
  }
  45% {
    transform: translateX(-15%) rotate(-8deg);
  }
  60% {
    transform: translateX(10%) rotate(3deg);
  }
  75% {
    transform: translateX(-5%) rotate(-3deg);
  }
  100% {
    transform: translateX(0%);
  }
}

.pick-again[wobble="1"] {
  animation: wobble 1s 1;
}

.pick-again {
  cursor: pointer;
}

/* styling for contact page 
////////////////////////////////////////////////////////////////////////////////////////////////////
*/

.container.col-12.col-md-5.home-container.form-container-backdrop {
  height: 960px;
}

.contact-container {
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(
    108deg,
    rgb(163, 133, 155) 0%,
    rgb(241, 211, 211) 100%
  );
  min-height: 1370px;
  overflow: hidden;
}

.contact-btn {
  margin-left: 43%;
}
#message {
  margin-bottom: -30px;
}

.suggestion-row {
  font-family: "Montserrat", sans-serif;
  padding: 70px 0px;
}

.form-container-backdrop {
  background-color: rgb(241, 240, 240);
  padding: 24px 24px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  height: 600px;
}

.aboout-form {
  background: #f3ebe9;
  padding: 24px 24px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  height: 80%;
  width: 450px;
  margin-bottom: 50px;
  text-align: center;
  width: 650px;
  height: 850px;
}

.form-container-backdrop:hover {
  transform: scale(1.02);
  transition: all 0.2s ease-in-out;
  /* cursor: pointer; */
}

.h1-contact {
  font-size: 50px;
  color: #2f0909;
  margin-top: 5px;
  text-align: center;
}

.p-contact {
  font-size: 16px;
  color: #2f0909;
  margin-top: 10px;
  text-align: center;
}

.button-contact-form {
  color: white;
  background: #2f0909;
}

.developer-card-img {
  height: 120px;
  width: auto;
  border: #2f0909 dotted 4px;
  margin: 12px;
}

.developer-name {
  color: #8687a3;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
}

.developer-col {
  padding-top: 30px;
}

.col-6.developer-col.col {
  text-align: center;
}

.user-github {
  color: #2f0909;
  font-size: 40px;
}
.user-github:hover {
  color: #c199a1;
  transition: 0.3s ease-out;
}

/* Styling for landing/home page
/////////////////////////////////////////////////////////////////////////////////////////////////////
*/

@media only screen and (max-width: 900px) {
  .login-btn {
    width: 80px;
    height: 80px;
  }
}
@media only screen and (max-width: 900px) {
  .guest-btn {
    width: 80px;
    height: 80px;
  }
}
@media only screen and (max-width: 900px) {
  .enterBtn {
    display: inline-block;
    width: 54%;
    margin-right: 11px;
  }
}
@media only screen and (max-width: 900px) {
  .logout-btn {
    display: inline-block;
    width: 60%;
  }
}
@media only screen and (max-width: 600px) {
  .new-shaker-text {
    display: inline;

    
  }
}


h1 {
  font-family: "Architects Daughter", cursive;
  color: rgb(241, 240, 240);
  font-size: 100px;
  margin: 20px;
}

h2 {
  font-family: "Architects Daughter", cursive;
  font-size: 40px;
  font-weight: bold;
  color: rgba(163, 133, 155, 0.685);
}

.enterText {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 50;
  padding-top: 10px;
}

.infinityText {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-style: italic;
}
#guest-jar {
  font-family: "Architects Daughter", cursive;
  font-size: 40px;
}
#login-jar {
  font-family: "Architects Daughter", cursive;
  
}

#themes-jar {
  font-family: "Architects Daughter", cursive;
  font-size: 25px;
}

#newshaker-jar {
  font-family: "Architects Daughter", cursive;
  font-size: 20px;
} 

/* Split the screen in half */
.split {
  height: 100%;
  width: 75%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.enterBtn{
  margin-top: 10px;
  cursor: pointer;
}

.login-btn {
  margin-top: 10px;
  cursor: pointer;
  /* position: absolute; */
 
}
.guest-btn {
  cursor: pointer;
  /* position: absolute; */
  margin-top: 10px
}

.logout-btn {
  margin-top: 10px;
  cursor: pointer;
  word-spacing: -1px;
  /* cursor: pointer;
  position: absolute;
  margin-left: -60px; */
  /* margin-top: 20px */
}
/* Control the left side */
.left {
  position: absolute;
  width: 65%;
  left: 0;
  background: linear-gradient(
    108deg,
    rgb(163, 133, 155) 0%,
    rgb(241, 211, 211) 100%
  );
}

/* Control the right side */
.right {
  position: absolute;
  width: 35%;
  right: 0;
  background-color: rgb(241, 240, 240);
}
.enterShakeText{
  font-family: "Architects Daughter", cursive;
  font-size: 50px
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered-img {
  width: 150px;
  border-radius: 50%;
}

.centered-right {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* React Tabs Comp Styling */
.react-tabs {
  -webkit-tap-highlight-color: transparent;
}
.react-tabs__tab-list {
  font-family: "Montserrat", sans-serif;
  border-bottom: 1px solid #aaa;
  margin: 0 0 10px;
  padding: 0;
}
.react-tabs__tab {
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
}
.react-tabs__tab--selected {
  background: #fff;
  border-color: #aaa;
  color: black;
  border-radius: 5px 5px 0 0;
}

/* Displays the list of activites for each shaker */
.react-tabs__tab-panel--selected {
  display: block;
}

/* Log in / Log Out Buttons////////////////////////////////// */
.themeTable {
  font-family: "Montserrat", sans-serif;
  width: 75%;
  margin: 20px auto;
}

input::-webkit-input-placeholder {
  font-size: 15px;
}

.tabsRoot {
  width: 50%;
  margin: 0 auto;
}

.input-container {
  font-family: "Montserrat", sans-serif;
}

.form-group {
  width: 60%;
  margin: 0 auto;
  padding-top: 20px;
}

.newActivityBtn {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  cursor: pointer;
}

/* Log in / Log Out Buttons */

/* Modal Styling 
////////////////////////////////////////////////////////////////////////////////////////////////////
*/

div.modal-content {
  
  background: linear-gradient(
    108deg,
    rgb(163, 133, 155) 0%,
    rgb(241, 211, 211) 100%
  );
}
.modal-title.h4 {
  color: white; text-shadow: 5px black; 
  margin-left: 10%;
  text-align: center;
  font-family: 'Architects Daughter', cursive ;
  text-shadow: 2px 2px 8px rgba( 176, 175, 215);
  font-size: 60px;
}

img.modal-img {
  height: 150px;
  display: block;
  margin: 0 auto;
}

.img-card {
 /* border: groove rgba(163, 133, 155, 0.89) 20px; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 120px;
  padding-right: 120px;
}

.modal-activity.modal-body {
  color: white; 
  text-shadow: 10px black;
  font-family: 'Montserrat', sans-serif; ;
  text-shadow: 2px 2px 8px rgba( 176, 175, 215);
  font-size: 35px;
  text-align: center;
}

/* NavBar Styling 
///////////////////////////////////////////////////////////////////////////////////////////////////
*/

.mainNav {
  text-shadow: 0 0 3px white, 0 0 5px grey;
  color: rgb(241, 240, 240);
  font-size: 40px;
  word-spacing: -5px;
  margin-top: 10px;
  height: 30px;
  margin-left: -17px;
  font-family: "Montserrat", sans-serif;
}
.nav-link {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: black;
}

.imgNav {
  padding: -15px;
}

/* Styling for the themes page 
///////////////////////////////////////////////////////////////////////////////////////////////////  
*/

@media only screen and (max-width: 800px) {
  .tabs-container {
    width: 22rem !important;
  }

  .wrapper-around {
    width: 20px;
  }

  .form-container-backdrop:hover {
    transform: scale(1);
  }
}

.themes-page{
  background: linear-gradient(
    108deg,
    rgb(163, 133, 155) 0%,
    rgb(241, 211, 211) 100%
  );
  overflow: hidden;
}

.h2-text{
  color: black;
  padding-top: 20px;

}

.smaller-text {
  font-size: 10px;
  padding-top: 20px;
}

/* Control the right side */


.export-container {
  /* position: absolute; */
  width: 75%;
  right: 0;
  height: 100%;
  
}

.navStyle {
  z-index: 10;
  width: 50%;
}




/* THEMES PAGE DONT TOUCH ME DAMMIT */

.tabs-container {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(241, 240, 240);
  padding: 24px 24px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  height: 75%;
  width: 50rem; 
  margin-top: 50px;
  margin-bottom: 70px;
  overflow-y: scroll;
}


@media only screen and (max-width: 600px) {
  .tabs-container {
    height: 100%;
    /* width: 28%; */
  }
}


/* This is the form for adding a new shaker */
.input-area{
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  /* position: fixed; */
  /* bottom: 0; 
  /* left: 0;  */
  /* right: 0;  */
  align-content: center;
  z-index: 0; 
  overflow: none;  
  /* background-color: rgb(241, 240, 240); */
  /* height: 800px; */

}

/* Div section around form element */
.shaker-form {
  text-align: center;
  margin-top: 10px;
  background-color: rgb(241, 240, 240);
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
  word-spacing: unset
}

/* Header for customize */
.customizeShakerH2 {
  color: white;
  text-align: center;
  padding-top: 20px;
}


/* Create a new shaker text */
.new-shaker-text {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

.improve{
  font-family: "Architects Daughter", cursive;
}

.customizeShaker,
.contactShaker {

  background-color: rgb(241, 240, 240);
  padding: 20px;
  margin: 10px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
  font-family: "Montserrat", sans-serif;
  width: 40%;

}
.customizeShaker:hover {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}

.contactShaker:hover {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}

.shaker-info {
  font-family: "Architects Daughter", cursive;
  color: rgba(0, 0, 0, 0.603);
  font-size: 20px;
}

.shaker-pg-btn-1 {
  
    margin-top: 10px;
    cursor: pointer;
  

}
.theme-btn{
  margin: -10px
}

#try-it {
  font-size: 36px;
}
#contact-us {
  font-size: 36px;
}
.submit-btn{
  margin-top: 60px;
  cursor: pointer
}

.add-new-btn{
  margin: 20px;
  margin-left: 45%
}
.create-shaker-btn{
  margin: 10px
}

.shaker-pg-btn-2 {

 
  cursor: pointer;
  margin-top: -20px;
  margin-bottom: -50px;
}
.extras {
  background-color: rgb(134, 135, 163);
}

.enter-cards {
  padding-left: 11%;
}

@media only screen and (max-width: 800px) {
  .developer-card {
    font-family: "Montserrat", sans-serif;
    width: 17rem !important;
  }
  

  .form-container-backdrop {
    max-width: auto;
    margin: 10px auto;
    height: auto;
  }
  @media only screen and (max-width: 800px) {
    .form-container-backdrop {
      /* margin-top: 15; */
      background-color: transparent;
      box-shadow: none;
    }
  }
  /* @media only screen and (max-width: 00px) {
    .form-container-backdrop {
      padding-top: 20px;
  
    }
  } */

  .form-container-backdrop:hover {
    transform: scale(1);
  }
}
/* Styling Profile Page
///////////////////////////////////////////////////////////////////////////////////////////////////  
*/

.profile-container {
  background: linear-gradient(
    108deg,
    rgb(163, 133, 155) 0%,
    rgb(241, 211, 211) 100%
  );
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.user-info {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  color: #2f0909;
}

.profile-title {
  color: #2f0909;
  font-family: "Architects Daughter", cursive;
  font-size: 50px;
  font-weight: bold;
}

.acount-container {
  padding-left: 20px;
  padding-bottom: 105px;
}

.user-name {
  font-family: "Architects Daughter", cursive;
  color: #2f0909;
}

.profile-container {
 padding-top: 300px;
 padding-left: 100px;
 
}

.shake-it-up{
  font-weight: bold;
}


.confirmHeader {
  color: black;
}


